---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)



@import
  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/variables",
  {% endif %}

  "bootstrap",

  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/bootswatch",
  {% endif %}

  "syntax-highlighting",
  "typeahead"
;

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: $navbar-height + $navbar-margin-bottom;
  margin-bottom: 46px;
}

.navbar-brand{
  img{
    margin: -$navbar-padding-vertical 0;
    height: $navbar-height;
    padding: 10px 0;
  }
}


.header-container {
  background-color: black;
  background: url('../img/bg.jpg') no-repeat 50% 0;
  color: #fff;

  h1 {
    color: #fff;
  }
  // background-attachment: fixed;
  background-size: cover;
  background-position: center 36%;
  margin-top: -57px;
}
.navbar-container {
  font-size: 16px;
}
.page-content {
  padding-bottom: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*height: 46px;*/
  height: auto;
  padding-top: 10px;
  background-color: $gray-lighter;
  color: $gray-dark;
}

.post-list-container {
  li a.active {
    font-weight: bold;
  }
}
*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
.navbar-form .has-feedback .form-control-feedback {
  top:10px;
}

/*.breadcrumb {
  position: fixed;
  text-align: right
  top: ($navbar-height / 2);
  z-index: 10;
  background-color: $brand-info;
}*/

.caret-right {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0 10px 0 2px;
  vertical-align: middle;
  color: $label-success-bg;
  border-top: ($caret-width-base * 1.5) solid transparent;
  border-bottom: ($caret-width-base * 1.5) solid transparent;
  border-left: ($caret-width-base * 1.5) dashed;
  border-left: ($caret-width-base * 1.5) solid \9; // IE8
}

.divider {
  width: 100%;
  height: 1px;
  margin: 50px 0;
  overflow: hidden;
  background-color: $dropdown-divider-bg;
}

.well-inverted {
  @include gradient-vertical($start-color: darken($brand-info, 5%), $end-color: $brand-info);
  border-color: darken($brand-info, 10%);
  $shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
  @include box-shadow($shadow);
  color: $well-bg;
}
