{% comment %}
Map grabs the doc sections, giving us an array of arrays. Join, flattens all
the items to a comma delimited string. Split turns it into an array again.
{% endcomment %}

{% assign docs = site.data.docs['examples'] | map: 'docs' | join: ',' | split: ',' %}

{% comment %}
Because this is built for every page, lets find where we are in the ordered
document list by comparing url strings. Then if there's something previous or
next, lets build a link to it.
{% endcomment %}

{% for document in docs %}
  {% assign document_url = document | prepend:"/docs/" | append:"/" %}
  {% if document_url == page.url %}
    <ul class="pager">
      {% if forloop.first %}
        <li class="previous disabled">
          <a>
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% else %}
        {% assign previous = forloop.index0 | minus: 1 %}
        {% assign previous_page = docs[previous] | prepend:"/docs/" | append:"/" %}
        <li class="previous">
          <a href="{{ previous_page | prepend: site.baseurl }}">
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% endif %}

      {% if forloop.last %}
        <li class="next disabled">
          <a>
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% else %}
        {% assign next = forloop.index0 | plus: 1 %}
        {% assign next_page = docs[next] | prepend:"/docs/" | append:"/" %}
        <li class="next">
          <a href="{{ next_page | prepend: site.baseurl }}">
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% endif %}
    </div>
    <div class="clear"></div>
    {% break %}
  {% endif %}
{% endfor %}


<!-- INTRODUCTION -->
{% assign docs = site.data.docs['introduction'] | map: 'docs' | join: ',' | split: ',' %}

{% for document in docs %}
  {% assign document_url = document | prepend:"/docs/introduction/" | append:"/" %}
  {% if document_url == page.url %}
    <ul class="pager">
      {% if forloop.first %}
        <li class="previous disabled">
          <a>
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% else %}
        {% assign previous = forloop.index0 | minus: 1 %}
        {% assign previous_page = docs[previous] | prepend:"/docs/introduction/" | append:"/" %}
        <li class="previous">
          <a href="{{ previous_page | prepend: site.baseurl }}">
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% endif %}

      {% if forloop.last %}
        <li class="next disabled">
          <a>
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% else %}
        {% assign next = forloop.index0 | plus: 1 %}
        {% assign next_page = docs[next] | prepend:"/docs/introduction/" | append:"/" %}
        <li class="next">
          <a href="{{ next_page | prepend: site.baseurl }}">
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% endif %}
    </div>
    <div class="clear"></div>
    {% break %}
  {% endif %}
{% endfor %}


<!-- TOPIC-01 -->
{% assign docs = site.data.docs['topic-01'] | map: 'docs' | join: ',' | split: ',' %}

{% for document in docs %}
  {% assign document_url = document | prepend:"/docs/topic-01/" | append:"/" %}
  {% if document_url == page.url %}
    <ul class="pager">
      {% if forloop.first %}
        <li class="previous disabled">
          <a>
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% else %}
        {% assign previous = forloop.index0 | minus: 1 %}
        {% assign previous_page = docs[previous] | prepend:"/docs/topic-01/" | append:"/" %}
        <li class="previous">
          <a href="{{ previous_page | prepend: site.baseurl }}">
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% endif %}

      {% if forloop.last %}
        <li class="next disabled">
          <a>
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% else %}
        {% assign next = forloop.index0 | plus: 1 %}
        {% assign next_page = docs[next] | prepend:"/docs/topic-01/" | append:"/" %}
        <li class="next">
          <a href="{{ next_page | prepend: site.baseurl }}">
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% endif %}
    </div>
    <div class="clear"></div>
    {% break %}
  {% endif %}
{% endfor %}


<!-- TOPIC-02 -->
{% assign docs = site.data.docs['topic-02'] | map: 'docs' | join: ',' | split: ',' %}

{% for document in docs %}
  {% assign document_url = document | prepend:"/docs/topic-02/" | append:"/" %}
  {% if document_url == page.url %}
    <ul class="pager">
      {% if forloop.first %}
        <li class="previous disabled">
          <a>
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% else %}
        {% assign previous = forloop.index0 | minus: 1 %}
        {% assign previous_page = docs[previous] | prepend:"/docs/topic-02/" | append:"/" %}
        <li class="previous">
          <a href="{{ previous_page | prepend: site.baseurl }}">
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% endif %}

      {% if forloop.last %}
        <li class="next disabled">
          <a>
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% else %}
        {% assign next = forloop.index0 | plus: 1 %}
        {% assign next_page = docs[next] | prepend:"/docs/topic-02/" | append:"/" %}
        <li class="next">
          <a href="{{ next_page | prepend: site.baseurl }}">
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% endif %}
    </div>
    <div class="clear"></div>
    {% break %}
  {% endif %}
{% endfor %}


<!-- TOPIC-03 -->
{% assign docs = site.data.docs['topic-03'] | map: 'docs' | join: ',' | split: ',' %}

{% for document in docs %}
  {% assign document_url = document | prepend:"/docs/topic-03/" | append:"/" %}
  {% if document_url == page.url %}
    <ul class="pager">
      {% if forloop.first %}
        <li class="previous disabled">
          <a>
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% else %}
        {% assign previous = forloop.index0 | minus: 1 %}
        {% assign previous_page = docs[previous] | prepend:"/docs/topic-03/" | append:"/" %}
        <li class="previous">
          <a href="{{ previous_page | prepend: site.baseurl }}">
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% endif %}

      {% if forloop.last %}
        <li class="next disabled">
          <a>
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% else %}
        {% assign next = forloop.index0 | plus: 1 %}
        {% assign next_page = docs[next] | prepend:"/docs/topic-03/" | append:"/" %}
        <li class="next">
          <a href="{{ next_page | prepend: site.baseurl }}">
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% endif %}
    </div>
    <div class="clear"></div>
    {% break %}
  {% endif %}
{% endfor %}


<!-- TOPIC-04 -->
{% assign docs = site.data.docs['topic-04'] | map: 'docs' | join: ',' | split: ',' %}

{% for document in docs %}
  {% assign document_url = document | prepend:"/docs/topic-04/" | append:"/" %}
  {% if document_url == page.url %}
    <ul class="pager">
      {% if forloop.first %}
        <li class="previous disabled">
          <a>
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% else %}
        {% assign previous = forloop.index0 | minus: 1 %}
        {% assign previous_page = docs[previous] | prepend:"/docs/topic-04/" | append:"/" %}
        <li class="previous">
          <a href="{{ previous_page | prepend: site.baseurl }}">
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% endif %}

      {% if forloop.last %}
        <li class="next disabled">
          <a>
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% else %}
        {% assign next = forloop.index0 | plus: 1 %}
        {% assign next_page = docs[next] | prepend:"/docs/topic-04/" | append:"/" %}
        <li class="next">
          <a href="{{ next_page | prepend: site.baseurl }}">
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% endif %}
    </div>
    <div class="clear"></div>
    {% break %}
  {% endif %}
{% endfor %}


<!-- TOPIC-05 -->
{% assign docs = site.data.docs['topic-05'] | map: 'docs' | join: ',' | split: ',' %}

{% for document in docs %}
  {% assign document_url = document | prepend:"/docs/topic-05/" | append:"/" %}
  {% if document_url == page.url %}
    <ul class="pager">
      {% if forloop.first %}
        <li class="previous disabled">
          <a>
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% else %}
        {% assign previous = forloop.index0 | minus: 1 %}
        {% assign previous_page = docs[previous] | prepend:"/docs/topic-05/" | append:"/" %}
        <li class="previous">
          <a href="{{ previous_page | prepend: site.baseurl }}">
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% endif %}

      {% if forloop.last %}
        <li class="next disabled">
          <a>
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% else %}
        {% assign next = forloop.index0 | plus: 1 %}
        {% assign next_page = docs[next] | prepend:"/docs/topic-05/" | append:"/" %}
        <li class="next">
          <a href="{{ next_page | prepend: site.baseurl }}">
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% endif %}
    </div>
    <div class="clear"></div>
    {% break %}
  {% endif %}
{% endfor %}


<!-- TOPIC-06 -->
{% assign docs = site.data.docs['topic-06'] | map: 'docs' | join: ',' | split: ',' %}

{% for document in docs %}
  {% assign document_url = document | prepend:"/docs/topic-06/" | append:"/" %}
  {% if document_url == page.url %}
    <ul class="pager">
      {% if forloop.first %}
        <li class="previous disabled">
          <a>
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% else %}
        {% assign previous = forloop.index0 | minus: 1 %}
        {% assign previous_page = docs[previous] | prepend:"/docs/topic-06/" | append:"/" %}
        <li class="previous">
          <a href="{{ previous_page | prepend: site.baseurl }}">
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% endif %}

      {% if forloop.last %}
        <li class="next disabled">
          <a>
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% else %}
        {% assign next = forloop.index0 | plus: 1 %}
        {% assign next_page = docs[next] | prepend:"/docs/topic-06/" | append:"/" %}
        <li class="next">
          <a href="{{ next_page | prepend: site.baseurl }}">
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% endif %}
    </div>
    <div class="clear"></div>
    {% break %}
  {% endif %}
{% endfor %}


<!-- TOPIC-07 -->
{% assign docs = site.data.docs['topic-07'] | map: 'docs' | join: ',' | split: ',' %}

{% for document in docs %}
  {% assign document_url = document | prepend:"/docs/topic-07/" | append:"/" %}
  {% if document_url == page.url %}
    <ul class="pager">
      {% if forloop.first %}
        <li class="previous disabled">
          <a>
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% else %}
        {% assign previous = forloop.index0 | minus: 1 %}
        {% assign previous_page = docs[previous] | prepend:"/docs/topic-07/" | append:"/" %}
        <li class="previous">
          <a href="{{ previous_page | prepend: site.baseurl }}">
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% endif %}

      {% if forloop.last %}
        <li class="next disabled">
          <a>
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% else %}
        {% assign next = forloop.index0 | plus: 1 %}
        {% assign next_page = docs[next] | prepend:"/docs/topic-07/" | append:"/" %}
        <li class="next">
          <a href="{{ next_page | prepend: site.baseurl }}">
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% endif %}
    </div>
    <div class="clear"></div>
    {% break %}
  {% endif %}
{% endfor %}


<!-- TOPIC-08 -->
{% assign docs = site.data.docs['topic-08'] | map: 'docs' | join: ',' | split: ',' %}

{% for document in docs %}
  {% assign document_url = document | prepend:"/docs/topic-08/" | append:"/" %}
  {% if document_url == page.url %}
    <ul class="pager">
      {% if forloop.first %}
        <li class="previous disabled">
          <a>
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% else %}
        {% assign previous = forloop.index0 | minus: 1 %}
        {% assign previous_page = docs[previous] | prepend:"/docs/topic-08/" | append:"/" %}
        <li class="previous">
          <a href="{{ previous_page | prepend: site.baseurl }}">
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% endif %}

      {% if forloop.last %}
        <li class="next disabled">
          <a>
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% else %}
        {% assign next = forloop.index0 | plus: 1 %}
        {% assign next_page = docs[next] | prepend:"/docs/topic-08/" | append:"/" %}
        <li class="next">
          <a href="{{ next_page | prepend: site.baseurl }}">
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% endif %}
    </div>
    <div class="clear"></div>
    {% break %}
  {% endif %}
{% endfor %}


<!-- TOPIC-09 -->
{% assign docs = site.data.docs['topic-09'] | map: 'docs' | join: ',' | split: ',' %}

{% for document in docs %}
  {% assign document_url = document | prepend:"/docs/topic-09/" | append:"/" %}
  {% if document_url == page.url %}
    <ul class="pager">
      {% if forloop.first %}
        <li class="previous disabled">
          <a>
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% else %}
        {% assign previous = forloop.index0 | minus: 1 %}
        {% assign previous_page = docs[previous] | prepend:"/docs/topic-09/" | append:"/" %}
        <li class="previous">
          <a href="{{ previous_page | prepend: site.baseurl }}">
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% endif %}

      {% if forloop.last %}
        <li class="next disabled">
          <a>
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% else %}
        {% assign next = forloop.index0 | plus: 1 %}
        {% assign next_page = docs[next] | prepend:"/docs/topic-09/" | append:"/" %}
        <li class="next">
          <a href="{{ next_page | prepend: site.baseurl }}">
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% endif %}
    </div>
    <div class="clear"></div>
    {% break %}
  {% endif %}
{% endfor %}



<!-- TOPIC-10 -->
{% assign docs = site.data.docs['topic-10'] | map: 'docs' | join: ',' | split: ',' %}

{% for document in docs %}
  {% assign document_url = document | prepend:"/docs/topic-10/" | append:"/" %}
  {% if document_url == page.url %}
    <ul class="pager">
      {% if forloop.first %}
        <li class="previous disabled">
          <a>
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% else %}
        {% assign previous = forloop.index0 | minus: 1 %}
        {% assign previous_page = docs[previous] | prepend:"/docs/topic-10/" | append:"/" %}
        <li class="previous">
          <a href="{{ previous_page | prepend: site.baseurl }}">
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% endif %}

      {% if forloop.last %}
        <li class="next disabled">
          <a>
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% else %}
        {% assign next = forloop.index0 | plus: 1 %}
        {% assign next_page = docs[next] | prepend:"/docs/topic-10/" | append:"/" %}
        <li class="next">
          <a href="{{ next_page | prepend: site.baseurl }}">
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% endif %}
    </div>
    <div class="clear"></div>
    {% break %}
  {% endif %}
{% endfor %}
